body {
  background-color: #fde2f3;
  font-size: 16px;
  line-height: 1.5;
}
h1 {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  text-align: center;
  color: #2a2f4f;
  margin-bottom: auto;
}
h2 {
  font-family: "Bruno Ace SC", cursive;
  font-size: 30px;
  text-align: center;
  color: #2a2f4f;
  margin: 50px auto;
}
hr {
  border: 0;
  height: 3px;
  width: 70%;
  margin: 50px auto 50px auto;
  background-image: linear-gradient(to right, #ccc, #be5a83, #ccc);
}
nav.navbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navbar a {
  background-color: #e5beec;
  font-family: "Bruno Ace SC", cursive;
  color: #2a2f4f;
  font-size: 13px;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.nav-button:hover {
  background-color: #be5a83;
  font-weight: bold;
  color: #fff;
}
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 50px auto;
  border: #917fb3;
  background-color: #fde2f3;
  border-style: solid;
  display: block;
}

p.about {
  font-family: "Bruno Ace SC", cursive;
  font-size: 20px;
  text-align: center;
  color: #be5a83;
  margin: auto 20px;
}

span.special-words {
  font-family: "Bruno Ace SC", cursive;
  font-size: 20px;
  text-align: center;
  color: #2a2f4f;
}
span.project-special-words {
  font-family: "Bruno Ace SC", cursive;
  text-align: center;
  color: #2a2f4f;
}

.contact-me {
  font-family: "Bruno Ace SC", cursive;
  font-size: 20px;
  text-align: center;
  color: #2a2f4f;
  margin: 20px auto;
}
.bottom-navbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.contact-button {
  font-family: "Bruno Ace SC", cursive;
  padding: 10px 20px;
  color: #2a2f4f;
  text-decoration: none;
}

.contact-button:hover {
  background-color: #be5a83;
  color: #fff;
  border-radius: 12px;
}

.send-message {
  font-family: "Bruno Ace SC", cursive;
  font-size: 20px;
  text-align: center;
  color: #2a2f4f;
  margin: 20px auto;
  display: block;
}
.input {
  font-family: "Bruno Ace SC", cursive;
  font-size: 15px;
  text-align: center;
  color: #2a2f4f;
  margin: auto auto;
  display: block;
  width: 20%;
  padding: 12px 20px;
  margin: 8px auto;
  box-sizing: border-box;
  border-radius: 12px;
  border: 2px solid #be5a83;
  background-color: #e5beec;
}

.input:focus {
  background-color: #fde2f3;
  outline: none;
}

.message {
  font-family: "Bruno Ace SC", cursive;
  font-size: 15px;
  text-align: center;
  color: #2a2f4f;
  margin: auto auto;
  display: block;
  width: 20%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px auto;
  box-sizing: border-box;
  border-radius: 12px;
  border: 2px solid #be5a83;
  background-color: #e5beec;
}

.send-button {
  font-family: "Bruno Ace SC", cursive;
  font-size: 15px;
  text-align: center;
  color: #fff;
  width: 90px;
  padding: 12px 20px;
  margin: 8px auto;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #be5a83;
  background-color: #2a2f4f;
}
.send-button:hover {
  background-color: #be5a83;
  color: #fff;
}
.back-top-button {
  font-family: "Bruno Ace SC", cursive;
  font-size: 10px;
  text-align: center;
  color: #fff;
  margin: auto;
  width: 10%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #be5a83;
  background-color: #2a2f4f;
  text-decoration: none;
}

@media screen and (min-width: 960px) {
  .project-card {
    display: flex;
  }

  video.big-video {
    border-radius: 12px;
    border: 2px solid #fff;
    background-color: #fde2f3;
    margin: 20px 20px;
    width: 560px;
    height: 315px;
  }
  video.mobile-video {
    border-radius: 12px;
    border: 2px solid #fff;
    background-color: #fde2f3;
    margin: 20px 250px 20px 150px;
    width: 215px;
    height: 440px;
  }

  .project-info h3 {
    font-family: "Bruno Ace SC", cursive;
    font-size: 25px;
    text-align: center;
    color: #2a2f4f;
    margin: 20px 100px;
  }
  .project-info p {
    font-family: "Bruno Ace SC", cursive;
    font-size: 15px;
    text-align: center;
    color: #be5a83;
    margin: 20px 20px;
  }

  a.github-links {
    font-family: "Bruno Ace SC", cursive;
    font-size: 15px;
    text-align: center;
    color: #c50682;
    margin: 20px 20;
    text-decoration: underline;
  }
}

@media screen and (max-width: 960px) {
  .project-card {
    display: flex;
    flex-direction: column;
  }

  iframe.big-video {
    border-radius: 12px;
    border: 2px solid #fff;
    background-color: #fde2f3;
    margin: 20px auto;
    width: 560px;
    height: 315px;
  }
  iframe.mobile-video {
    border-radius: 12px;
    border: 2px solid #fff;
    background-color: #fde2f3;
    margin: 20px 250px 20px 150px;
    width: 215px;
    height: 440px;
  }

  .project-info h3 {
    font-family: "Bruno Ace SC", cursive;
    font-size: 25px;
    text-align: center;
    color: #2a2f4f;
    margin: 20px 100px;
  }
  .project-info p {
    font-family: "Bruno Ace SC", cursive;
    font-size: 15px;
    text-align: center;
    color: #be5a83;
    margin: 20px 20px;
  }

  a.github-links {
    font-family: "Bruno Ace SC", cursive;
    font-size: 15px;
    text-align: center;
    color: #c50682;
    margin: 20px 20;
    text-decoration: underline;
  }
}

.github-repos {
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100px;
  height: 100px;
}
.github-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 50px auto;
  border: #917fb3;
  background-color: #fde2f3;
  border-style: solid;
  display: block;
  content: url("https://avatars.githubusercontent.com/u/84624853?v=4");
}

.github-img:hover {
  background-color: #be5a83;
  color: #fff;
  content: url("hearth.png");
}
